@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "variables/global";
@import "themes/dark";
@import "themes/light";

body {
  font: var(--font-sm);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.content-page {
  display: flex;
}

.page {
  flex-grow: 1;
  padding: 20px;
}
