.Button {
  cursor: pointer;
  padding: 6px 15px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--bg-color);
}

.Clear,
.ClearInverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.ClearInverted {
  color: var(--inverted-primary-color);
}

.Outline {
  background-color: transparent;
}

.Background {
  background-color: var(--bg-color);
}

.BackgroundInverted {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border-color: var(--inverted-primary-color);
}

.Square {
  padding: 0;
}

.Square.Small {
  width: var(--font-line-sm);
  height: var(--font-line-sm);
}

.Square.Medium {
  width: var(--font-line-md);
  height: var(--font-line-md);
}

.Square.Large {
  width: var(--font-line-lg);
  height: var(--font-line-lg);
}

.Small {
  font: var(--font-sm);
}

.Medium {
  font: var(--font-md);
}

.Large {
  font: var(--font-lg);
}
