.InputWrapper {
  position: relative;
}

.Input {
  font: inherit;
  border: 0;
  padding: 5px 0 7px;
  border-bottom: 1px solid var(--secondary-color);
  transition: 0.4s;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  outline: none;

  &:focus {
    padding: 5px 14px 7px;
    transition: 0.4s;

    & ~ .FocusBorder {
      transition: 0.4s;
      height: 100%;
      border: 2px solid var(--secondary-color);
      z-index: 1;
    }
  }

  & ~ .FocusBorder {
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: 0.4s;
    z-index: -1;
  }
}
