.app.dark {
  --bg-color: #32012F;
  --inverted-bg-color: #F1F8E8;


  --primary-color: #E2DFD0;
  --secondary-color: #F97300;
  --inverted-primary-color: #55AD9B;
  --inverted-secondary-color: #95D2B3;
}