.app.light {
  --bg-color: #F1F8E8;
  --inverted-bg-color: #32012F;

  --primary-color: #55AD9B;
  --secondary-color: #95D2B3;
  --inverted-primary-color: #E2DFD0;
  --inverted-secondary-color: #F97300;
}