body.light {
  --bg-color: #f1f8e8;
  --inverted-bg-color: #32012f;
  --primary-color: #55ad9b;
  --secondary-color: #95d2b3;
  --inverted-primary-color: #e2dfd0;
  --inverted-secondary-color: #f97300;
}
